@page "/import/export/{format?}"
@model News.App.Pages.ExportModel
@{
    ViewData["Title"] = "Export";
}

<div class="row m-4">
    <a asp-page="Export" asp-route-format="opml" class="btn btn-primary">Export as OPML</a>
</div>