@page "/feed/{id:guid}"
@model News.App.Pages.FeedModel
@{
    ViewData["Title"] = "Feed";
}

<div class="bg-white p-4 shadow">
    <form method="post">
        <input asp-for="Input.FeedId" type="hidden">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <fieldset class="row g-3">
            <legend>Feed</legend>
            <div class="col-12 mt-0">
                <label asp-for="Input.FeedUrl" class="form-label">URL</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-rss"></i></span>
                    <input asp-for="Input.FeedUrl" type="url" class="form-control" placeholder="Feed URL or website address">
                    <span asp-validation-for="Input.FeedUrl"></span>
                </div>
            </div>
            <div class="col-12 col-sm-7">
                <label asp-for="Input.ChannelId" class="form-label">Channel</label>
                <div class="input-group has-validation">
                    <div class="input-group-text"><i class="bi bi-bookmark"></i></div>
                    <select asp-for="Input.ChannelId" asp-items="Model.Channels" class="form-control">
                        <option value="">Select channel</option>
                    </select>
                    <span asp-validation-for="Input.ChannelId"></span>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <label asp-for="Input.FeedSlug" class="form-label">Slug</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-link-45deg"></i></span>
                    <input asp-for="Input.FeedSlug" type="text" class="form-control" placeholder="Slug">
                    <span asp-validation-for="Input.FeedSlug"></span>
                </div>
            </div>
            <div class="col-12">
                <label asp-for="Input.FeedTitle" class="form-label">Title <span class="text-muted">(Optional)</span></label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-info-circle"></i></span>
                    <input asp-for="Input.FeedTitle" type="text" class="form-control" placeholder="Title">
                    <span asp-validation-for="Input.FeedTitle"></span>
                </div>
            </div>
        </fieldset>

        <fieldset class="row g-3 mt-2">
            <legend>Content</legend>
            <div class="col-12 col-sm-6 mt-0">
                <div class="form-check form-switch">
                    <input asp-for="Input.SafeguardContentExtractor" type="checkbox" class="form-check-input" />
                    <label asp-for="Input.SafeguardContentExtractor" class="form-check-label">Download content</label>
                </div>
                <div class="form-check form-switch">
                    <input asp-for="Input.SafeguardImageLinkFixer" type="checkbox" class="form-check-input" />
                    <label asp-for="Input.SafeguardImageLinkFixer" class="form-check-label">Download images</label>
                </div>
                <div class="form-check form-switch">
                    <input asp-for="Input.SafeguardPostLinkFixer" type="checkbox" class="form-check-input" />
                    <label asp-for="Input.SafeguardPostLinkFixer" class="form-check-label">Fix links to other posts</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-0">
                <div class="form-check form-switch">
                    <input asp-for="Input.SafeguardDescriptionReplacer" type="checkbox" class="form-check-input" />
                    <label asp-for="Input.SafeguardDescriptionReplacer" class="form-check-label">Replace description</label>
                </div>
                <div class="form-check form-switch">
                    <input asp-for="Input.SafeguardDescriptionImageRemover" type="checkbox" class="form-check-input" />
                    <label asp-for="Input.SafeguardDescriptionImageRemover" class="form-check-label">Remove description image</label>
                </div>
                <div class="form-check form-switch">
                    <input asp-for="Input.SafeguardLastParaTrimmer" type="checkbox" class="form-check-input" />
                    <label asp-for="Input.SafeguardLastParaTrimmer" class="form-check-label">Trim last paragraph</label>
                </div>
            </div>
        </fieldset>

        <fieldset class="row g-3 mt-2">
            <legend>Metadata</legend>
            <div class="col-12 col-sm-6 mt-0">
                <label asp-for="Input.TitlePath" class="form-label">Title XPath</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-regex"></i></span>
                    <input asp-for="Input.TitlePath" type="text" class="form-control" placeholder="XPath expression">
                    <span asp-validation-for="Input.TitlePath"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-0">
                <label asp-for="Input.AuthorPath" class="form-label">Author XPath</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-regex"></i></span>
                    <input asp-for="Input.AuthorPath" type="text" class="form-control" placeholder="XPath expression">
                    <span asp-validation-for="Input.AuthorPath"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-0">
                <label asp-for="Input.DescriptionPath" class="form-label">Description XPath</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-regex"></i></span>
                    <input asp-for="Input.DescriptionPath" type="text" class="form-control" placeholder="XPath expression">
                    <span asp-validation-for="Input.DescriptionPath"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-0">
                <label asp-for="Input.ContentPath" class="form-label">Content XPath</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-regex"></i></span>
                    <input asp-for="Input.ContentPath" type="text" class="form-control" placeholder="XPath expression">
                    <span asp-validation-for="Input.ContentPath"></span>
                </div>
            </div>
        </fieldset>
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <button type="reset" class="btn btn-link link-secondary text-decoration-none">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}