@page "/import/url"
@model News.App.Pages.ImportUrlModel
@{
    ViewData["Title"] = "Import";
}

<div class="bg-white p-4 shadow">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <fieldset class="row g-3">
            <legend class="mb-0">Feed</legend>
            <div class="col-12 col-sm-8">
                <label asp-for="Input.FeedUrl" class="form-label">URL</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-box-arrow-up-right"></i></span>
                    <input asp-for="Input.FeedUrl" type="url" class="form-control" placeholder="Feed URL or website address">
                    <span asp-validation-for="Input.FeedUrl"></span>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <label asp-for="Input.FeedSlug" class="form-label">Slug</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-link-45deg"></i></span>
                    <input asp-for="Input.FeedSlug" type="text" class="form-control" placeholder="Slug">
                    <span asp-validation-for="Input.FeedSlug"></span>
                </div>
            </div>
        </fieldset>
        <fieldset class="row g-3 mt-2">
            <legend class="mb-0">Channel</legend>
            <div class="col-12">
                <label asp-for="Input.ChannelId" class="form-label">Channel</label>
                <div class="input-group has-validation">
                    <div class="input-group-text"><i class="bi bi-bookmark"></i></div>
                    <select asp-for="Input.ChannelId" asp-items="Model.Channels" class="form-control">
                        <option value="">Select existing channel</option>
                    </select>
                    <span asp-validation-for="Input.ChannelId"></span>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <label asp-for="Input.ChannelName" class="form-label">Name</label>
                <input asp-for="Input.ChannelName" type="text" class="form-control" placeholder="New channel name">
                <span asp-validation-for="Input.ChannelName"></span>
            </div>
            <div class="col-12 col-sm-6">
                <label asp-for="Input.ChannelSlug" class="form-label">Slug</label>
                <input asp-for="Input.ChannelSlug" type="text" class="form-control" placeholder="New channel slug">
                <span asp-validation-for="Input.ChannelSlug"></span>
            </div>
        </fieldset>

        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary">@ViewBag.Title</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}