@page "/import/opml"
@model News.App.Pages.ImportOpmlModel
@{
    ViewData["Title"] = "Import";
}

<div class="bg-white p-4 shadow">
    <form method="post" enctype="multipart/form-data" class="row g-3">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="col-12">
            <label asp-for="Input.OpmlFile" class="form-label">OPML file</label>
            <input asp-for="Input.OpmlFile" type="file" accept=".opml,text/x-opml" class="form-control">
            <span asp-validation-for="Input.OpmlFile"></span>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary">@ViewBag.Title</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}