@page "/import/url"
@model News.App.Pages.ImportUrlModel
@{
    ViewData["Title"] = "Import";
}

<div class="bg-white p-4 shadow">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <fieldset class="form-group">
            <legend>Feed</legend>
            <div class="row">
                <div class="col-12 col-sm-8">
                    <label asp-for="Input.FeedUrl">URL</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">&#x1F310;</span>
                        <input asp-for="Input.FeedUrl" type="url" class="form-control" placeholder="Feed URL or website address">
                        <span asp-validation-for="Input.FeedUrl"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <label asp-for="Input.FeedSlug">Slug</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">&#x1F50E;</span>
                        <input asp-for="Input.FeedSlug" type="text" class="form-control" placeholder="Slug">
                        <span asp-validation-for="Input.FeedSlug"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group mt-3">
            <legend>Channel</legend>
            <div class="row">
                <div class="col-12">
                    <label asp-for="Input.ChannelId">Channel</label>
                    <div class="input-group">
                        <div class="input-group-text">&#x1F516;</div>
                        <select asp-for="Input.ChannelId" asp-items="Model.Channels" class="form-control">
                            <option value="">Select existing channel</option>
                        </select>
                    </div>
                    <span asp-validation-for="Input.ChannelId"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label asp-for="Input.ChannelName">Name</label>
                    <input asp-for="Input.ChannelName" type="text" class="form-control" placeholder="New channel name">
                    <span asp-validation-for="Input.ChannelName"></span>
                </div>
                <div class="col-12 col-sm-6">
                    <label asp-for="Input.ChannelSlug">Slug</label>
                    <input asp-for="Input.ChannelSlug" type="text" class="form-control" placeholder="New channel slug">
                    <span asp-validation-for="Input.ChannelSlug"></span>
                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-outline-primary mt-3">@ViewBag.Title</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}