@page "/{channel?}/{feed?}/{year:int:min(1969):max(2100)?}/{month:int:min(1):max(12)?}/{day:int:min(1):max(31)?}/{post?}"

@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.Granularity == IndexModel.GranularityLevel.None)
{
    @* nothing to show since no user logged in *@
    <h1 class="text-center display-1">Nothing to show, please log in to see the news.</h1>
}
else if (Model.Granularity <= IndexModel.GranularityLevel.Posts)
{
    var channel = Model.Channels.First();
    var feed = channel.Feeds.First();
    if (Model.Granularity == IndexModel.GranularityLevel.Post)
    {
        var post = feed.Posts.First();
        ViewData["Title"] = $"{post.Title} | {feed.Title} | {channel.Name}";
    }
    else
    {
        ViewData["Title"] = $"{feed.Title} | {channel.Name}";
    }

    <partial name="Index/_Post" model="channel" />
}
else if (Model.Granularity == IndexModel.GranularityLevel.Feed)
{
    var channel = Model.Channels.First();
    var feed = channel.Feeds.First();
    ViewData["Title"] = $"{feed.Title} | {channel.Name}";

    <partial name="Index/_Feed" model="channel" />
}
else if (Model.Granularity >= IndexModel.GranularityLevel.Channel)
{
    ViewData["Title"] = Model.Granularity == IndexModel.GranularityLevel.Channels ? "All" : Model.Channels.First().Name;

    <partial name="Index/_Channel" model="Model.Channels" />
}
