@page "/{slug?}"

@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@foreach (var channel in Model.Channels)
{
    <h4 class="border-bottom border-info border-2">
        <span class="badge bg-info rounded-0 rounded-top">@channel.Name</span>
    </h4>
    <div class="row">
        @foreach (var feed in channel.Feeds)
        {
            <div class="col-6 col-sm-12">
                <a asp-page="/Feed" asp-route-slug="@feed.Slug">@feed.Title</a>
            </div>
        }
    </div>
}
