@model IEnumerable<object>

@{
    var routeData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
    var p = 1;
    if (Context.Request.Query.TryGetValue("p", out var val) && int.TryParse(val.ToString(), out var n))
    {
        p = n;
        routeData.Remove("p");
    }
}

<nav class="btn-group" aria-label="Pagination">
    <a class="btn @(Model.Any() ? "btn-outline-primary" : "btn-outline-secondary disabled")" asp-all-route-data="routeData" asp-route-p="@(p + 1)">
        <i class="bi bi-arrow-left"></i>
    </a>
    <a class="btn @(p > 1 ? "btn-outline-primary" : "btn-outline-secondary disabled")" asp-all-route-data="routeData" asp-route-p="@(p - 1)">
        <i class="bi bi-arrow-right"></i>
    </a>
</nav>
