$enable-gradients: true;

$link-decoration: none;
$link-hover-decoration: underline;
    
@import "../lib/bootstrap/scss/bootstrap";
@import "_btnxs.scss";

// Validation

.input-validation-error {
    @extend .is-invalid;
}

.input-validation-valid {
    @extend .is-valid;
}

.field-validation-error {
    @extend .invalid-feedback;
}

.field-validation-valid {
    @extend .valid-feedback;
}

// Fix for img tags in posts
img, figure {
    @extend .img-fluid;
}

//todo: modify content to wrap video and iframe tags with a parent element with .ratio and an aspect ratio class
video {
    @extend .ratio;
    @extend .ratio-16x9;
}